
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background:#f0f0f0; //url(../img/bg_header.jpg) no-repeat left top;
	width:100%; height: 80px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;	
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
