
@font-face 
  font-family: "PTSans"
  src: url("../fonts/PTSansRegular/PTSansRegular.eot")
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype")
  font-style: normal
  font-weight: 400


@font-face
  font-family: "PTSans"
  src: url("../fonts/PTSansItalic/PTSansItalic.eot")
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype")
  font-style: normal
  font-weight: 400


@font-face
  font-family: "PTSans"
  src: url("../fonts/PTSansBold/PTSansBold.eot")
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype")
  font-style: normal
  font-weight: 600


$font-txt: 'PTSans', sans-serif