.img
  max-width: 100%
  max-height: 100%
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto

  &__responsive
    position: relative
    width: 100%
    display: block
    overflow: hidden
