.navigation
  font-family: $menu
  float: right
  margin-top: 15px
  z-index: 2
  position: relative

  li
    float: left
    display: block

    a
      color: $dark-sea
      position: relative
      font-size: 24px
      margin-left: 25px
      padding: 5px 0


      &:after
        content: ''
        position: absolute
        width: 1px
        transform: translatex(-50%)
        height: 2px
        opacity: 0
        background-color: $dark-sea
        bottom: 0
        left: 50%
        transition: .3s

      @include haf
        &:after
          width: 100%
          opacity: 1

    &.active
      a
        &:after
          width: 100%
          opacity: 1
